body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

#deleteYes {
    width: 140px;
    height: 80px;
    border-radius: .8rem;
    position: absolute;
    background-color: lightcoral;
    left: 15%;
    font-size: 25px;

}

#deleteNo{
    width: 140px;
    height: 80px;
    border-radius: .8rem;
    position: absolute;
    left: 60%;
    font-size: 25px;
}
  
#saveYes{
    width: 140px;
    height: 80px;
    border-radius: .8rem;
    position: absolute;
    background-color: lightcoral;
    left: 15%;
    font-size: 25px;
}

#saveNo{
    width: 140px;
    height: 80px;
    border-radius: .8rem;
    position: absolute;
    left: 60%;
    font-size: 25px;
}

#modalDelete{
    border-radius: .8rem;
    width: 30%;
    height: 30%;
}
#modalSave{
    border-radius: .8rem;
    width: 30%;
    height: 30%;
}

#modalStart{
    border-radius: .8rem;
    width: 30%;
    height: 60%;
}

.container {
    height: 100%;
    display: flex;
}

#row{
    height: 10%;
    width: 100%;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 70px;
    height: 400px;
    position: absolute;
    top : 25%;
    background-color: #e7e7e7;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    outline-style: auto;
    outline-color: darkgrey;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
    color: black;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    background-color: #1565c0;
    border: none;
    border-radius: 100%;
    height: 70px;
    color:white;
    padding: 2px;
}

#saveButton {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: lightgrey;
    border-color: grey;
    position:absolute;
    top:2%;
    right:1.5%;
}
#deleteButton {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: lightgrey;
    border-color: grey;
    position:absolute;
    top:2%;
    right:10%;
}
